---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Nav from "../layouts/Nav.astro";
---

<Layout
  paginaTitulo=""
  paginaDescripcion="Nos dedicamos a la venta de granos como el maíz, frijol y garbanzo; ofreciendo productos de alta calidad y servicios excepcionales a nuestros clientes."
>
  <Nav></Nav>
  <div class="flex flex-col items-center justify-center">
    <div class="bg-yellow-300 w-full py-6 mt-0">
      <p
        id="Slogan"
        class="text-center text-4xl font-extrabold tracking-wide text-green-700 drop-shadow-lg bg-gradient-to-rbg-clip-text py-4 italic rounded [text-shadow:2px_2px_0_#FFF,2px_2px_2px_#FFF]"
        style="font-family: Helvetica, Arial, sans-serif;"
      >
        LO MEJOR DE NUESTRA TIERRA SINALOENSE
      </p>
    </div>
  </div>
</Layout>
