---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout
  paginaTitulo=""
  paginaDescripcion="Nos dedicamos a la venta de granos como el maíz, frijol y garbanzo; ofreciendo productos de alta calidad y servicios excepcionales a nuestros clientes."
>
  <header class="bg-white shadow fixed w-full top-0 z-50 h-36">
    <div class="max-w-7xl mx-auto px-6 py-4 flex items-center h-full relative">
      <div class="absolute left-6 top-1/2 transform -translate-y-1/2">
        <a href="/">
          <img
            id="Logo"
            src="/logo.png"
            alt="Logo GRAJALSIN"
            class="h-40 w-auto mt-7 mx-3"
          />
        </a>
      </div>

      <nav class="flex-grow flex justify-center items-center ml-50">
        <ul
          class="flex space-x-13 font-bold items-center text-lg"
          style="font-family: Helvetica, Arial, sans-serif;"
        >
          <li><a href="/nosotros" class="hover:text-green-600">Nosotros</a></li>
          <li><a href="/mision" class="hover:text-green-600">Misión</a></li>
          <li><a href="/vision" class="hover:text-green-600">Visión</a></li>
          <li><a href="/valores" class="hover:text-green-600">Valores</a></li>
          <li>
            <a href="/productos" class="hover:text-green-600">Productos</a>
          </li>
          <li>
            <a href="/contactos" class="hover:text-green-600">Contactos</a>
          </li>
          <!-- <li><a href="/socios">Socios comerciales</a></li> -->
        </ul>
        <div>
          <a href="https://wa.me/5216671426156" target="_blank" rel="noopener noreferrer">
            <img 
              id="WhatsappIcon"
              src="/wp.png"
              alt="Icono de WhatsApp"
              class="h-9 w-auto ml-30 rounded-full hover:scale-110 hover:border-3 hover:border-black transition-transform duration-300 cursor-pointer border-0 object-cover"
            />
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com/ComercializadoraGrajalsin/" target="_blank" rel="noopener noreferrer">
            <img 
              id="FacebookIcon"
              src="/fb.png"
              alt="Icono de Facebook"
              class="h-9 w-auto ml-10 rounded-full hover:scale-110 hover:border-3 hover:border-black transition-transform duration-300 cursor-pointer border-0 object-cover"
            />
          </a>
        </div>
      </nav>
    </div>

    <div
      class="flex flex-col items-center justify-center min-h-screen mt-[-320px]"
    >
      <div class="bg-yellow-300 w-full py-6 mt-14">
        <p
          id="Slogan"
          class="text-center text-4xl font-extrabold tracking-wide text-green-700 drop-shadow-lg bg-gradient-to-rbg-clip-text py-4 italic rounded [text-shadow:2px_2px_0_#FFF,2px_2px_2px_#FFF]"
          style="font-family: Helvetica, Arial, sans-serif;"
        >
          LO MEJOR DE NUESTRA TIERRA SINALOENSE
        </p>
      </div>
    </div>
  </header>
</Layout>
