---
import Layout from "../layouts/Layout.astro";
---

<Layout paginaTitulo="" paginaDescripcion="Nos dedicamos a la venta de granos como el maíz, frijol y garbanzo; ofreciendo productos de alta calidad y servicios excepcionales a nuestros clientes.">
  <nav>
    <ul class="nav-links">
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/mision">Misión</a></li>
      <li><a href="/vision">Visión</a></li>
      <li><a href="/valores">Valores</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/contactos">Contactos</a></li>
      <li><a href="/socios">Socios comerciales</a></li>
    </ul>
  </nav>

  <div class="logo">
    <a href="/">
      <img id="Logo" src="/logo.png" alt="Logo GRAJALSIN" />
    </a>
    <p id="Eslogan">LO MEJOR DE NUESTRA TIERRA SINALOENSE</p>
  </div>

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 GRAJALSIN SPR DE RL - Todos los derechos reservados.</p>
  </footer>
</Layout>