---
interface Props {
    titulo: string;
    elementos: string[];
    imagenUrl?: string;
}

const { titulo, elementos, imagenUrl } = Astro.props;
---

<div>
    <h2 class="text-black">{titulo}</h2>
    <ul class="text-black">
        {elementos.map(item => (
            <li>{item}</li>
        ))}
    </ul>
    {imagenUrl && <img src={imagenUrl} alt={titulo} />}
</div>