---
interface Props {
    titulo: string;
    elementos: string[];
    imagenUrl?: string;
}

const { titulo, elementos, imagenUrl } = Astro.props;
---

<div>
    <h2 class="text-black">{titulo}</h2>
    <ul class="text-black">
        {elementos.map(item => (
            <li>
                <a href={"/"+item.toLocaleLowerCase().substring(0, item.indexOf(' ')).normalize("NFD").replace(/[\u0300-\u036f]/g, "")}>
                    {item}
                </a>
            </li>
        ))}
    </ul>
    {imagenUrl && <img src={imagenUrl} alt={titulo} />}
</div>