---
interface Props {
  texto: string;
}

const { texto } = Astro.props;
const href = "/" + texto.toLowerCase();
---


<li>
    <a href={href}
    class="hover:text-yellow-200 relative group inline-block">
    {texto}
        <span 
            class="absolute top-full left-0 w-0 h-1 bg-yellow-200 transition-all group-hover:w-full">
        </span>
    </a>
</li>