---
interface Props {
  texto: string;
}

const { texto } = Astro.props;
const href = "/" + texto.toLowerCase().replace(/\s+/g, '');
---


<li>
    <a href={href}
    class="hover:text-yellow-200 relative group inline-block hover:underline">
    {texto}
    </a>
</li>