<div class="bg-green-600 w-full h-40">
    <div class="max-w-7xl mx-auto px-8 py-4 flex items-center justify-between relative">
        <div class="absolute left-1 top-1/2 transform -translate-y-1/2 mt-5">
            <a href="/">
                <img
                    id="Logo"
                    src="/logo2.png"
                    alt="Logo GRAJALSIN"
                    class="h-40 w-auto mx-3"
                />
            </a>
        </div>

        <nav class="flex-grow flex justify-center items-center ml-58 mt-12">
            <ul
                class="flex space-x-13 font-bold items-center text-lg"
                style="font-family: Helvetica, Arial, sans-serif;"
            >
                <li>
                    <a href="/nosotros" class="hover:text-yellow-200">Nosotros</a>
                </li>
                <li><a href="/mision" class="hover:text-yellow-200">Misión</a></li>
                <li><a href="/vision" class="hover:text-yellow-200">Visión</a></li>
                <li><a href="/valores" class="hover:text-yellow-200">Valores</a></li>
                <li>
                    <a href="/productos" class="hover:text-yellow-200">Productos</a>
                </li>
                <li>
                    <a href="/contactos" class="hover:text-yellow-200">Contactos</a>
                </li>
                <!-- <li><a href="/socios">Socios comerciales</a></li> -->
            </ul>
            <div>
                <a
                    href="https://wa.me/5216671426156"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        id="WhatsappIcon"
                        src="/wp.png"
                        alt="Icono de WhatsApp"
                        class="h-9 w-auto ml-20 rounded-full hover:scale-110 hover:border-3 hover:border-green-500 transition-transform duration-300 cursor-pointer border-0 object-cover"
                    />
                </a>
            </div>
            <div>
                <a
                    href="https://www.facebook.com/ComercializadoraGrajalsin/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        id="FacebookIcon"
                        src="/fb.png"
                        alt="Icono de Facebook"
                        class="h-9 w-auto ml-12 rounded-full hover:scale-110 hover:border-3 hover:border-blue-600 transition-transform duration-300 cursor-pointer border-0 object-cover"
                    />
                </a>
            </div>
            <div>
                <img
                    id="PhoneIcon"
                    src="/tel.png"
                    alt="Icono de Teléfono"
                    class="h-9 w-auto ml-10 rounded-full hover:scale-110 hover:border-3 hover:border-black transition-transform duration-300 cursor-pointer border-0 object-cover"
                />
            </div>
            <div
                class="ml-3 text-lg font-bold"
                style="font-family: Helvetica, Arial, sans-serif; width: 400px;"
            >
                <span class="ml-4">667 502 1709</span>
            </div>
        </nav>
    </div>
</div>
